version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_CIRA_prod
    working_dir: /var/www
    volumes:
      - ./src:/var/www
      - ./src/storage:/var/www/storage
      - ./src/bootstrap/cache:/var/www/bootstrap/cache
    networks:
      - laravel
    restart: unless-stopped

  web:
    image: nginx:alpine
    container_name: laravel_nginx_prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl  # Para certificados SSL
    depends_on:
      - app
    networks:
      - laravel
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: laravel_db_prod
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root_secure_password_2024
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel_secure_password_2024
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysql_data:
    driver: local
